@import '../styles/_mixins.sass'

.about
    +flexCol()
    align-items: center
    width: 100vw
    height: auto
    padding-top: 100px
    .listEl
        +flexCol()
        align-items: center
        width: 90%
        .caption
            width: 100%
            text-align: center
            font-size: 2.3rem
        .information
            +flexRow()
            align-items: center
            width: 70%
            height: auto
            user-select: none
            margin-top: 5%
            margin-bottom: 50px
            .img
                width: auto
                height: auto
                margin-right: 80px
                span
                    width: 170px !important
                    height: 170px !important
            .description
                width: auto
                height: auto
                text-align: center
                font-size: 2.1rem
+mobile()
    .about
        align-items: center
        .listEl
            .caption
                width: 90%
            .information
                +flexCol()
                width: 100%
                align-items: center
                .img
                    width: 160px
                    margin-right: 0px
                .description
                    width: 90%
                    margin-top: 30px
                    font-size: 1.5rem